html {
  font-size: 62.5%;
}

body {
  font-family: "Montserrat", sans-serif;
}

a {
  text-decoration: none;
  color: #333;
}

ul {
  list-style: none;
}

.button {
  display: inline-block;
  border: solid 1px #999;
  padding: 16px 30px;
  border-radius: 999px;
}

/* Header */

header {
  position: sticky;
  top: 0px;
  z-index: 1;
  padding: 20px 0;
  border-bottom: 1px solid #bbb;

  background-color: #fff;
}

.header-content {
  width: 90vw;
  margin: auto;
  display: flex;
  align-items: center;
}

.header-content .logo {
  height: 40px;
  margin-right: 30px;
}

.header-content .nav-list {
  display: flex;
}

.header-content .nav-item {
  font-size: 2rem;
  margin-left: 28px;
}

.header-content .nav-item:hover {
  text-decoration: underline;
}

.header-content .cta-group {
  display: flex;
  margin-left: auto;
}

.header-content .cta-group .button {
  font-size: 2rem;
  margin-left: 10px;
}

.header-content .cta-group .shopping-cart-button {
  border: transparent;
}

.header-content .cta-group .signup-button {
  background-color: #333;
  color: #fff;
  border: #333;
}

/* Main */
main {
  position: relative;
}

/* Greeting */
.greeting-block-content {
  position: relative;
  width: 90vw;
  padding: 50px 0px;
  margin: auto;

  display: flex;
  justify-content: space-between;
}

.greeting-block .greeting-text {
  width: 50%;
}

.greeting-block .greeting-heading {
  font-size: 6rem;
  font-weight: 500;
  line-height: 1.2;

  margin-bottom: 40px;
}

.greeting-block .greeting-content {
  font-size: 1.8rem;
  line-height: 1.4;

  margin-bottom: 60px;
}

.greeting-block .button {
  font-size: 1.8rem;

  background-color: #333;
  color: #fff;
  border: #333;
  margin-bottom: 50px;
}

.greeting-block .greeting-image {
  position: absolute;
  top: 0;
  right: 0;
  border-radius: 10px;
  height: 80vh;
}

/* Product */
.product-block {
  height: 400px;
  background-color: #f3ffe3;
}

.product-block-content {
  width: 90vw;
  padding: 50px 0;
  margin: auto;
  display: flex;
  align-items: center;
}

.product-block .product-heading {
  font-size: 3.6rem;
  font-weight: 500;
}

/* Footer */
footer {
  background-color: #222;
}

.footer-content {
  color: white;
  font-size: 1.4rem;
  padding: 40px 0;
  text-align: center;
}

.footer-content .button {
  color: white;
  font-size: 3.2rem;
  border: 0;
}

.footer-content .address {
  margin-top: 30px;
  margin-bottom: 40px;
}
