/* Main */
main {
	position: relative;
}

/* Greeting */
.greeting-block-content {
    position: relative;
	padding: 50px 0px;

	display: flex;
	justify-content: space-between;
}

.greeting-block .greeting-text {
	width: 50%;
}

.greeting-block .greeting-heading {
	font-size: 6rem;
	font-weight: 500;
	line-height: 1.2;

	margin-bottom: 40px;
}

.greeting-block .greeting-content {
	font-size: 1.8rem;
	line-height: 1.4;

	margin-bottom: 60px;
}

.greeting-block .button {
	font-size: 1.8rem;

	background-color: #333;
	color: #fff;
	border: #333;
	margin-bottom: 50px;
}

.greeting-block .greeting-image {
	position: absolute;
	top: 50px;
	right: 0;
	border-radius: 10px;
	height: 80vh;
}

/* Product */
.product-block {
	height: 400px;
	background-color: #f3ffe3;
}

.product-block-content {
	padding: 50px 0;
	display: flex;
	align-items: center;
}

.product-block .product-heading {
	font-size: 3.6rem;
	font-weight: 500;
}
